html
  head
    title= title
  body
    h1= message

    if userSession.authorized
      p welcome #{userSession.username} !!
      a(href="/user/logout")
        button logout
    else 
      p you are anonymous
      a(href="/user/login")
        button login

    p 
    table 
        th 번호
        th 제목
        th 작성자
        each post in posts
          tr
            td
              span= post.id
            td 
              a(href=`/posts/${post.id}/`)= post.title
            td
              span= post.nickname
    p 
    a(href="/create")
      button create